In [1]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
def cleaning():
    import pandas as pd
    df = pd.read_csv('countriesworld.csv' ,decimal=',', encoding = 'latin1')
    df.columns = df.columns.str.rstrip()
    df.columns =df.columns.str.replace(" ", "_")
    df.Country =df.Country.str.rstrip()
    df = df.set_index(['Country'])
    df.rename(columns=lambda x: x.replace("(%)", 'percent'), inplace=True)
    df.rename(columns={'GDP_($_per_capita)': 'GDP'}, inplace=True)
    df.rename(columns=lambda x: x.replace("(", ''), inplace=True)
    df.rename(columns=lambda x: x.replace(")", ''), inplace=True)
    df.rename(columns=lambda x: x.replace(".", ''), inplace=True)
    df = df.drop(['Area_sq_mi', 'Pop_Density_per_sq_mi','Coastline_coast/area_ratio','Phones_per_1000',
              'Climate','Agriculture','Service','Industry','Agriculture','Other_percent','Crops_percent'], axis = 1)    
    return df

In [14]:
cleaning().head()

,Region,Population,Net_migration,Infant_mortality_per_1000_births,GDP,Literacy_percent,Arable_percent,Birthrate,Deathrate
Country,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,23.06,163.07,700.0,36.0,12.13,46.60,20.34
Albania,EASTERN EUROPE,3581655,-4.93,21.52,4500.0,86.5,21.09,15.11,5.22
Algeria,NORTHERN AFRICA,32930091,-0.39,31.00,6000.0,70.0,3.22,17.14,4.61
American Samoa,OCEANIA,57794,-20.71,9.27,8000.0,97.0,10.00,22.46,3.27
Andorra,WESTERN EUROPE,71201,6.60,4.05,19000.0,100.0,2.22,8.71,6.25

In [37]:
pop = (cleaning().loc["Spain",'Population'])

In [38]:
'{0:,}'.format(pop)

'40,397,842'

In [2]:
## Importamos el csv, y mostramos los primeros 5 valores
df = pd.read_csv('countriesworld.csv',decimal=',',engine = 'python')
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [5]:
df = df.set_index(['Country'])

In [9]:
df.loc['Albania','Population':'Area (sq. mi.)']

Population        3581655
Area (sq. mi.)      28748
Name: Albania, dtype: object

In [3]:
df.Country =df.Country.str.rstrip()

In [ ]:
df.columns = df.columns.str.rstrip()

In [18]:
df.loc[["Spain"],'Population':'Area (sq. mi.)']

         Population  Area (sq. mi.)
Country
Spain      40397842          504782

In [6]:
df.head()

,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
Country,,,,,,,,,,,,,,,,,,,
Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN

In [ ]:
df.loc[df['Andorra']=='Population']

In [ ]:
df = df.drop(['Area_sq_mi', 'Pop_Density_per_sq_mi','Coastline_coast/area_ratio',
              'Climate','Agriculture','Service','Industry','Agriculture'], axis = 1)

In [ ]:
df.columns = df.columns.str.rstrip()
df.columns =df.columns.str.replace(" ", "_")
df.columns

In [ ]:
df.index = df.index.map(str)

In [ ]:
df_graph = cleaning()[(cleaning().Country == 'Albania')&(cleaning().Population >= 358165)]

In [ ]:
df_graph.head()

In [29]:
cleaning().dtypes

Region                               object
Population                            int64
Net_migration                       float64
Infant_mortality_per_1000_births    float64
GDP                                 float64
Literacy_percent                    float64
Arable_percent                      float64
Birthrate                           float64
Deathrate                           float64
dtype: object

In [ ]:
df.rename(columns=lambda x: x.replace("(%)", 'percent'), inplace=True)
df.rename(columns={'GDP_($_per_capita)': 'GDP'}, inplace=True)
df.rename(columns=lambda x: x.replace("(", ''), inplace=True)
df.rename(columns=lambda x: x.replace(")", ''), inplace=True)
df.rename(columns=lambda x: x.replace(".", ''), inplace=True)

In [ ]:
df

In [ ]:
df_pop = df.sort_values('GDP',ascending=False)

In [ ]:
df['Region'] = df['Region'].str.split('.')

In [ ]:
df['Region']= df['Region'].astype(str)

In [ ]:
df.dtypes

In [ ]:
df['Literacy_(percent)'] = df['Literacy_(percent)'].fillna(0)

In [ ]:
df_europe = df['Region'] == 'OCEANIA'

In [ ]:
df_europe

In [ ]:
df_pop = df.sort_values('Net_migration',ascending=False)

In [ ]:
x = df_pop.Country.head(11)
y = df_pop.Net_migration.head(11)
plt.bar(x, y)
plt.xticks(rotation=75)

In [ ]:
df_pop = df.sort_values('Infant_mortality_per_1000_births',ascending=False)

In [ ]:
x = df_pop.Country.head(11)
y = df_pop.Infant_mortality_per_1000_births.head(11)
plt.bar(x, y)
plt.xticks(rotation=75)

In [ ]:
df_pop = df.sort_values('Pop_Density_per_sq_mi',ascending=False)

In [ ]:
x = df_pop.Country.head(11)
y = df_pop.Pop_Density_per_sq_mi.head(11)
plt.bar(x, y)
plt.xticks(rotation=75)

In [ ]:
df_pop = df.sort_values("Phones_per_1000")

In [ ]:
x = df_pop.Country.head(11)
y = df_pop.Phones_per_1000.head(11)
plt.bar(x, y)
plt.xticks(rotation=75)

In [ ]:
plt.bar(range(5), df.Population, edgecolor='black')

plt.xticks(range(5), df.Country, rotation=60)
plt.title("PRIMA DE RIESGO EN ESPAÃ‘A")
plt.ylim(df.Population)
plt.show()

In [ ]:
cleaning('countriesworld.csv')

In [ ]:
cleaning('countriesworld.csv')["Region"].value_counts().nlargest(20).plot(kind="bar")

In [ ]:
df["Country"].value_counts().nlargest(10).plot(kind="bar")