In [1]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
## Importamos el csv, y mostramos los primeros 5 valores
df = pd.read_csv(('countriesworld.csv'), engine = 'python')
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [5]:
df.columns = df.columns.str.rstrip()
df.columns =df.columns.str.replace(" ", "_")
df.columns

Index(['Country', 'Region', 'Population', 'Area_(sq._mi.)',
       'Pop._Density_(per_sq._mi.)', 'Coastline_(coast/area_ratio)',
       'Net_migration', 'Infant_mortality_(per_1000_births)',
       'GDP_($_per_capita)', 'Literacy_(%)', 'Phones_(per_1000)', 'Arable_(%)',
       'Crops_(%)', 'Other_(%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [6]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area_(sq._mi.)                         0
Pop._Density_(per_sq._mi.)             0
Coastline_(coast/area_ratio)           0
Net_migration                          3
Infant_mortality_(per_1000_births)     3
GDP_($_per_capita)                     1
Literacy_(%)                          18
Phones_(per_1000)                      4
Arable_(%)                             2
Crops_(%)                              2
Other_(%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [7]:
df = df.drop(['Climate'], axis = 1)

In [8]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area_(sq._mi.)                         0
Pop._Density_(per_sq._mi.)             0
Coastline_(coast/area_ratio)           0
Net_migration                          3
Infant_mortality_(per_1000_births)     3
GDP_($_per_capita)                     1
Literacy_(%)                          18
Phones_(per_1000)                      4
Arable_(%)                             2
Crops_(%)                              2
Other_(%)                              2
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64