In [1]:
import pandas as pd
import numpy as np
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://resultados.as.com/resultados/futbol/primera/clasificacion/'

In [3]:
page = requests.get(url)

NameError: name 'requests' is not defined

In [ ]:
soup = BeautifulSoup(page.content, 'html.parser')

In [4]:
eq = soup.find_all('span', class_='nombre-equipo')

NameError: name 'soup' is not defined

In [5]:
equipos = []
count = 0

In [6]:
for i in eq:
    if count < 20:
        equipos.append(i.text)
    else: 
        break
    count += 1

NameError: name 'eq' is not defined

In [7]:
print(equipos, len(equipos))

[] 0

In [8]:
pt = soup.find_all('td', class_='destacado')
puntos = list()
count = 0
for i in pt:
    if count < 20:
        puntos.append(i.text)
    else: 
        break
    count += 1

NameError: name 'soup' is not defined

In [9]:
print(puntos)

NameError: name 'puntos' is not defined

In [10]:
df = pd.DataFrame({'Nombre':equipos, 'Puntos':puntos}, index=list(range(1,21)))

NameError: name 'puntos' is not defined

In [11]:
print(df)

NameError: name 'df' is not defined

In [12]:
df = pd.read_csv(('human_development.csv'), engine = 'python')

In [13]:
df

,HDI Rank,Country,Human Development Index (HDI),Life Expectancy at Birth,Expected Years of Education,Mean Years of Education,Gross National Income (GNI) per Capita,GNI per Capita Rank Minus HDI Rank
0,1.0,Norway,0.944,81.6,17.5,12.6,"64,992",5.0
1,2.0,Australia,0.935,82.4,20.2,13.0,"42,261",17.0
2,3.0,Switzerland,0.930,83.0,15.8,12.8,"56,431",6.0
3,4.0,Denmark,0.923,80.2,18.7,12.7,"44,025",11.0
4,5.0,Netherlands,0.922,81.6,17.9,11.9,"45,435",9.0
...,...,...,...,...,...,...,...,...
190,NaN,Europe and Central Asia,0.748,72.3,13.6,10.0,"12,791",NaN
191,NaN,Latin America and the Caribbean,0.748,75.0,14.0,8.2,"14,242",NaN
192,NaN,South Asia,0.607,68.4,11.2,5.5,"5,605",NaN
193,NaN,Sub-Saharan Africa,0.518,58.5,9.6,5.2,"3,363",NaN
194,NaN,World,0.711,71.5,12.2,7.9,"14,301",NaN

In [14]:
df.dtypes

HDI Rank                                  float64
Country                                    object
Human Development Index (HDI)             float64
Life Expectancy at Birth                  float64
Expected Years of Education               float64
Mean Years of Education                   float64
Gross National Income (GNI) per Capita     object
GNI per Capita Rank Minus HDI Rank        float64
dtype: object

In [17]:
df.columns = df.columns.str.rstrip()
df.columns =df.columns.str.replace(" ", "_")
df.columns

Index(['HDI_Rank', 'Country', 'Human_Development_Index_(HDI)',
       'Life_Expectancy_at_Birth', 'Expected_Years_of_Education',
       'Mean_Years_of_Education', 'Gross_National_Income_(GNI)_per_Capita',
       'GNI_per_Capita_Rank_Minus_HDI_Rank'],
      dtype='object')

In [18]:
df = df.drop(['HDI_Rank', 'Gross_National_Income_(GNI)_per_Capita', 'GNI_per_Capita_Rank_Minus_HDI_Rank'], axis = 1)

In [19]:
df

,Country,Human_Development_Index_(HDI),Life_Expectancy_at_Birth,Expected_Years_of_Education,Mean_Years_of_Education
0,Norway,0.944,81.6,17.5,12.6
1,Australia,0.935,82.4,20.2,13.0
2,Switzerland,0.930,83.0,15.8,12.8
3,Denmark,0.923,80.2,18.7,12.7
4,Netherlands,0.922,81.6,17.9,11.9
...,...,...,...,...,...
190,Europe and Central Asia,0.748,72.3,13.6,10.0
191,Latin America and the Caribbean,0.748,75.0,14.0,8.2
192,South Asia,0.607,68.4,11.2,5.5
193,Sub-Saharan Africa,0.518,58.5,9.6,5.2
194,World,0.711,71.5,12.2,7.9